body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 100%, 100%;
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    background-size: 100%, 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

#gameInfo {
    position: absolute;
    top: 20px;
    right: 180px;
    border: 10px solid gold;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .9);
}

#gameArea {
    position: absolute;
    top: 20px;
    left: 200px;
    border: 10px solid gold;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .5);
    width: 690px;
    height: 690px;
}

#level,
#need,
#score {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 5px;
    text-align: center;
}

.title {
    color: gold;
    font-size: 40px;
    padding: 20px;
    font-family: 'Schoolbell', cursive;
}

#mute {
    background-color: yellow;
    width: 60px;
    height: 60px;
    background-image: url("../images/volume.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    right: 425px;
    top: 400px;
    cursor: pointer;
    padding: 10px;
}

#mute:hover {
    border: 3px solid black;
}

#btn {
    background-color: yellow;
    width: 200px;
    height: 60px;
    position: absolute;
    right: 350px;
    top: 320px;
    color: black;
    font-size: 40px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    font-family: 'Schoolbell', cursive;
    cursor: pointer;
}

#btn:hover {
    border: 3px solid black;
}

#levelText,
#needText,
#scoreText {
    height: 100px;
    width: 190px;
    margin: 5px;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    font-family: 'Schoolbell', cursive;
}

#welcome {
    top: 250px;
    width: 595px;
    height: 500px;
    border: 10px solid gold;
    border-radius: 25px;
    margin: auto;
    padding: 50px;
    background-color: white;
    background-image: url("../images/title.jpg");
    background-repeat: no-repeat;
}

#screenTitle {
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    font-family: 'Schoolbell', cursive;
    margin-bottom: 100px;
}

#startScreen {
    padding: 0px;
    padding-top: 120px;
    z-index: 100;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,1);
}

#play {
    background-color: yellow;
    width: 200px;
    height: 60px;
    color: black;
    font-size: 40px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    font-family: 'Schoolbell', cursive;
    cursor: pointer;
    margin: auto;
    margin-top: 430px;
}

#play:hover {
    background-color: dodgerblue;
}

.gameSquare:hover {
    background-color: dodgerblue;
}

.gameSquare > img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin: 3px;
    background-size: cover;
}

.gameSquare {
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 15px;
}

.readyToDestroy {
    animation: spin2 .5s;

}

@keyframes dropAnimationTop {
    from {transform: translateY(-1000%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation1 {
    from {transform: translateY(-125%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation2 {
    from {transform: translateY(-250%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation3 {
    from {transform: translateY(-375%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation4 {
    from {transform: translateY(-500%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation5 {
    from {transform: translateY(-625%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation6 {
    from {transform: translateY(-750%)}
    to {transform: translateY(0%)}
}

@keyframes dropAnimation7 {
    from {transform: translateY(-875%)}
    to {transform: translateY(0%)}
}

@keyframes leftToRightSwap {
    from {transform: translateX(-100%)}
    to {transform: translateX(0%)}
}

@keyframes rightToLeftSwap {
    from {transform: translateX(100%)}
    to {transform: translateX(0%)}
}

@keyframes topToBottomSwap {
    from {transform: translateY(-125%)}
    to {transform: translateY(0%)}
}

@keyframes bottomToTopSwap {
    from {transform: translateY(125%)}
    to {transform: translateY(0%)}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg)}
    to {  -webkit-transform: rotate(360deg) scale(.1);}
}
